html {
    width: 1024px;
    display: flex;
    justify-content: center;
    margin: 0px 400px;
}
body {
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 400px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0em;
    line-height: 1.5em;
}
.top {
    display:flex;
    align-self: flex-start;
}

navbar {
    float: right;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

a {
    color: green;
    text-decoration: none;
}

.boxlinks {
  font-size: 0.8em;
}

.bigbox .preview {
   width: 700px;
   height: 200px;
   grid-area: one;
}
.smallbox .preview {
    width:350px;
    height: 125px;
}

.sectiontitle {
    float: left;
    border-right: solid 3px green;
    padding-right: 10px;
    margin: 0px 15px;
    height: auto;
}


.important {
    width:1024px;
  align-self:center;
}


/*Link Buttons*/
/* #work {
    display:flex;
} */
/* #one {
    grid-area: top;
}
#two {
    grid-area: midleft;
}
#three  {
    grid-area: midright;
}
#four {
    grid-area: botleft;
}
#five {
    grid-area: botright;
} */
