html {
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 0px 400px;
}
body {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 40px 400px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0em;
    line-height: 1.5em;
}
.top {
    display:flex;
    align-self: flex-start;
    justify-content: space-around;
}

navbar {
    float: right;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

a {
    color: green;
    text-decoration: none;
}

.boxlinks {
  font-size: 0.8em;
}

.bigbox .preview {
   width: 700px;
   height: 200px;
   grid-area: one;
}
.smallbox .preview {
    width:350px;
    height: 125px;
}

aside {
    float: left;
    border-right: solid 3px green;
    padding-right: 10px;
    margin: 0px 15px;
    height: auto;
}
.pieces {
    justify-content: flex-end;
}
